--find-links https://download.pytorch.org/whl/torch_stable.html
numpy==1.26.4
torch==2.2.2+cu121
transformers==4.40.0
biopython==1.83
pycifrw==4.4.6
biotite==0.40.0
fair-esm==2.0.1
tqdm==4.66.5
tokenizers==0.19.1
wandb==0.18.1
foldcomp==0.0.7
lmdb==1.5.1
sru==2.6.0
scikit-learn==1.5.2